body {
  max-width: 800px;
  margin: auto;
  /* padding: 1em; */
  padding: 0.5em; 
  line-height: 1.5;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta {
  text-decoration: none;
  /* background: #eee; */
  background: white;
  padding-top: 0px;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: blue;
}

.menu a {
  text-decoration: none;
  background: #eee;
  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: limegreen;
}





a:visited {
        color: blue;
      }


.menu, .article-meta, footer { text-align: center; }
.title { 
  font-size: 1.0em; 
}

/* footer line (turned off) */
footer a { text-decoration: none; }
footer hr {
  margin-top: 50px ;
  border-style: solid;
  border-width: 0.5px;
  /*color: #ddd; */
  color: limegreen; 
  /*color: limegreen; */
}

/* header line (turned off) */
hr {
  margin-top: 0px ;
  margin-bottom: 10px
  border-style: none;
  border-width: 0px;
  /*color: #ddd; */
  color: grey; 
  /*color: limegreen; */
}


/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}

code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: none;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
thead, tfoot, tr:nth-child(even) { background: #eee; }

th, td {
  padding: 2px;
}

/* some costom functions */

.share-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  transition: opacity 0.2s ease;
  vertical-align: middle;
}

.share-icon:hover {
  opacity: 0.7;
}


